* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
    width: 1440px;
    height: calc(100vh - 84px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
    width: 1200px;
}

.navbar {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.03);
    margin-top: 10px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
}

.logo-button {
    width: 15%;
}

.logo-button img {
    width: 100%;
}

.back-to-home {
    padding-top: 10px;
}

.back-to-home a {
    font-size: 24px;
    font-weight: 500;
    color: #3485E8;
    border: none;
    font-size: 14px;

}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    border: 1px solid #eeeeee;
    padding: 30px 15px 125px 15px;
    border-radius: 24px;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}

.login-headline {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

.login-comment {
    color: #C4C4C4;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.text-comment-line {
    margin-bottom: 20px;
}

.email {
    margin-bottom: 15px;
    width: 100%;

}

/*
.container{
height: calc(100vh - 84px);
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}*/
/* .center-page{
    position: absolute; 
 top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.center-page {
    background: #FDFDFD;
}

.email input {
    border: 1px solid #EEEEEE;
    border-radius: 12px;
    width: 100%;
    height: 48px;
    padding-left: 10px;
    font-weight: 500;
    line-height: 14px;
}

.email input::placeholder {
    color: #C4C4C4;
}

.eye-logo input {
    width: 100%;
    border: 1px solid #EEEEEE;
    border-radius: 12px;
    height: 48px;
    padding-left: 10px;
    color: #C4C4C4;
    line-height: 14px;
    font-weight: 500;
}

.eye-logo input::placeholder {
    color: #C4C4C4;
}


.eye-logo i {
    position: absolute;
    right: 0;
    padding-right: 5px;
    margin-top: 15px;
    color: #C4C4C4;
    font-size: 20px;
    font-weight: bold;
}

.eye-logo {
    position: relative;
    margin-bottom: 15px;
    width: 100%;

}

.cant-login-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;


}

.cant-login-container a {
    font-size: 12px;
    text-decoration: none;

}

.active-click-content span {
    font-size: 12px;
    padding-right: 70px;

}

.active-click-content input {
    position: relative;
    bottom: -1.75px;
}


.active-click-content {
    margin-right: 25px;
}



.login-button {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    background: #3485E8;
    border-radius: 12px;
    height: 48px;
    border: none;
}

.login-button a {
    color: #ffffff;
    text-decoration: none;
}

.login-button-container {
    width: 100%;
    margin-bottom: 30px;
}

.cant-login span {
    font-size: 12px;
    margin-right: 25px;
    color: #000000;
    font-weight: 300;
}

.cant-login a {
    font-size: 12px;
    text-decoration: none;
    padding-right: 20px;
}

.cant-login {
    display: flex;
}
@media screen and (max-width:660px){
.logo-button img{
    min-width: 95px;
}


}
@media screen and (max-width:400px){
.active-click-content span{
    padding-right: 10px;
}

}